<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tutorialsee">

    <permission
        android:name="com.tutorialsee.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tutorialsee.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="com.tutorialsee"
        android:theme="@style/AppTheme">


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize|adjustPan" >
        </activity>
        <activity
            android:name=".HomeActivtiy"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize|adjustPan"
            tools:ignore="Instantiatable" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".EditProfile"
            android:label="@string/title_activity_edit_profile"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".ChangePassword"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".AddToCart"
            android:label="@string/title_activity_add_to_cart"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".OrderActivity"
            android:label="@string/title_activity_order"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".Jewellery"
            android:label="@string/title_activity_jewellery"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".Feedback_activity"
            android:label="@string/title_activity_feedback_activity"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".ContactUs"
            android:label="@string/title_activity_contact_us"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".Shipping"
            android:label="@string/title_activity_shipping"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".Payment_activity"
            android:label="@string/title_activity_payment_activity"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".ThankYou"
            android:label="@string/title_activity_thank_you"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".ProductDetails"
            android:label="@string/title_activity_product_details"
            android:parentActivityName=".MainActivity"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".Horoscope"
            android:label="@string/title_activity_horoscope"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".OrderDetailsActivity"
            android:label="@string/title_activity_order_details"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".Notifications"
            android:label="@string/title_activity_notifications"
            tools:ignore="Instantiatable">
        </activity>
    </application>

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

</manifest>